<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="YourBotId" />
    
    <!--<add key="MicrosoftAppId" value="" />
    <add key="MicrosoftAppPassword" value="" />
    <add key="meetupRedirectUrl" value="https://localhost:44300/api/auth" />-->
    
    
    
    <add key="MicrosoftAppId" value="2bdda6ab-d3fc-437a-9b24-d747d12ac9b0" />
    <add key="MicrosoftAppPassword" value="skOTURF09@xglklSK724)*]" />
    <add key="meetupRedirectUrl" value="https://mikecowleydemo.azurewebsites.net/api/auth" />
    

    <add key="luisId" value="4044a5bc-2982-45aa-958d-ef5500d57f8b" />
    <add key="luisKey" value="4445ad2aee3b49748bd0c74758cced98" />
    <add key="meetupKey" value="6c87a112277194235656b3d28262a76" />
    <add key="meetupGroupUrl" value="Meetup-API-Testing" />
    <add key="meetupClientId" value="p89uearmaes6ue76ngf5jm87oc" />
    <add key="meetupClientSecret" value="1l42e4js8p6qnjavvk0nvk31sn" />
    <add key="meetupTableStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=authtokens;AccountKey=gqs2hJ42KZ/D45QR8MG0SG5crb13qbE/elv1eOR6COD76gapLpMi37zBapsQV/tp9zI1TN9oPXla1KvpuO6gsg==;EndpointSuffix=core.windows.net" />
    <add key="meetupGoogleMapsApiKey" value="" />


  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.htm" />
      </files>
    </defaultDocument>

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.4.0" newVersion="5.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>